.Invoice {
  margin: auto;
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.Invoice table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.Invoice table td {
  padding: 5px;
  vertical-align: top;
}

.Invoice table tr td:nth-child(2) {
  text-align: right;
}

.Invoice table tr.top table td {
  padding-bottom: 20px;
}

.Invoice table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.Invoice table tr.information table td {
  padding-bottom: 40px;
}

.Invoice table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.Invoice table tr.details td {
  padding-bottom: 20px;
}

.Invoice table tr.item td{
  border-bottom: 1px solid #eee;
}

.Invoice table tr.total {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .Invoice table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .Invoice table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/** RTL **/
.rtl {
  direction: rtl;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}