.password-trigger {
  position: absolute;
  top: 67%;
  right: 1.5rem;
  color: #666;
  z-index: 9999;
}

label.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
  color: white !important;
}
label.ant-radio-button-wrapper {
  color: black !important;
}