@import "~react-image-gallery/styles/scss/image-gallery.scss";
$primary: #194F87;
$secondary: #FEFEFE;
$tertiary: #326396;
$my-lighten:#4080ff;
$default-font: sans-serif;
$serif-font: Palatino,Georgia,Cambria,"Times New Roman",Times,serif;
// Bootstrap: https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
// Might consider Ant-design breakpoints as well: https://ant.design/components/grid/#Col
$small-device-width: 576px;
$extra-large-device-width: 1200px;

.vh-100-min {
  min-height: 100vh !important;
}

body {
  margin: 0;
  font-family: $default-font,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: $serif-font;
}

.container {
  width: 90%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-block-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  text-align: center;
  color: inherit;
}

a:hover {
  color: #7cc7ff !important;
  text-decoration: none;
}

.max-width-30 {
  max-width: 30%;
}
.max-width-fit-content {
  max-width: fit-content;
}

.max-width-md-30 {
  h1 {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .max-width-md-30 {
    max-width: 30%;
  }
  .max-width-md-23 {
    max-width: 23%;
    h1 {
      font-size: 34px;
    }
  }
}

.font-size-xl {
  font-size: x-large;
}
.font-size-40px {
  font-size: 40px;
}

.list-style-type-none li {
  list-style-type: none;
}

.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-bottom: 5px;
  margin-right: 5px;
}

.chip > img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.sans-{
  -webkit-font-smoothing: antialiased;
}

.cursor-pointer:hover {
  cursor: pointer;
}

label {
  color: #6c757d !important;
}

.Toastify__toast-body a {
  color: #b3d7ff;
  text-decoration: underline;
  font-weight: bold;
}

.btn-text {
  background-color: transparent;
  border: 1px solid transparent;
}

.content-detail {
  word-break: break-word;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.5;
  }
  p, a {
    line-height: 2.5rem;
    font-size: 20px;
  }
  img {
    max-width: 100%;
  }
}

.ck-editor__editable {
  width: 100%;
}

.FormDynamicInput .ck.ck-editor__editable_inline {
  overflow: auto;
  padding: 0 var(--ck-spacing-standard);
  border: 1px solid #40a9ff;
}

.input-error {
  box-shadow: 0 0 3px #CC0000;
  color: #CC0000;
  border: solid 1px #CC0000;
}

.ant-btn > a, .ant-btn > a:hover {
  color: currentColor !important;
  line-height: inherit !important;
}

.ant-btn {
  height: auto;
  white-space: pre-line;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.border-light {
  border: 1px solid #dee2e6 !important
}

@media only screen and (max-width: $small-device-width) {
  .border-sm-light {
    border: 1px solid #dee2e6 !important
  }
}

.font-size-larger {
  font-size: larger;
}

.btn-success {
  background: #52c41a;
  border: #52c41a;
  color: white;
}