@import '../../index';

.EbookLandingBanner {
  width: 90%;
  left: 10%;

  h1, h2 {
    line-height: 5vw;
  }

  h1 {
    font-size: 5.5vw;
  }
  h2 {
    font-size: 3.5vw;
  }

  .buy-now-cta {
    max-width: 700px;
  }
}