@import "../../index";

.EbookLandingBanner {
  h1,
  h2 {
    line-height: 3.5vw;
  }

  h1 {
    font-size: 5.5vw;
  }
  h2 {
    font-size: 2.5vw;
  }

  .buy-now-cta {
    margin-top: 10%;
  }
  .ebook-row {
    margin-left: 23%;
  }

  .ebook-image img {
    max-width: 43vh;
  }

  @media only screen and (max-width: 765px) {
    h1 {
      font-size: 5.5vw;
    }
    h2 {
      font-size: 3.5vw;
    }
    .ebook-row {
      margin-left: 0;
    }
  }

  .buy-book-button {
    height: 100%;
    font-size: 30px;
  }
}

.InterviewCard {
  height: 650px;
  text-align: center;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

.chapter-name {
  text-align: left;
  padding-left: 20px;
}

.subchapter-item {
  text-align: left;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.chapter-item {
  height: 375px;
}

.left-col {
  padding-left: 5%;
  padding-right: 2%;
}

.right-col {
  padding-left: 2%;
  padding-right: 5%;
}
