@import "../../index";

.EbookLandingBanner {
  h1,
  h2 {
    line-height: 3.5vw;
  }

  h1 {
    font-size: 5.5vw;
  }
  h2 {
    font-size: 2.5vw;
  }

  .buy-now-cta {
    margin-top: 10%;
  }
  .ebook-row {
    margin-left: 20%;
  }

  .ebook-image img {
    max-width: 43vh;
  }

  @media only screen and (max-width: $small-device-width) {
    h1, h2 {
      line-height: 5.5vw;
    }

    h1 {
      font-size: 6.5vw;
      margin-top: 3%;
    }

    h2 {
      font-size: 4.5vw;
    }
    .ebook-row {
      margin-right: 1rem ;
      margin-left: 1rem ;
    }

    .buy-now-cta {
      margin-top: 3%;
    }

    .ebook-image img {
      max-width: 40vh;
    }

  }

  .buy-book-button {
    height: 100%;
    font-size: 30px;
  }
}

.InterviewCard {
  height: 715px;
  text-align: center;
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}

.chapter-name {
  text-align: left;
  padding-left: 20px;
}

.subchapter-item {
  text-align: left;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.chapter-item {
  min-height: 400px;
  height: 90%;
}

.chapter-col {
  padding-left: 2%;
  padding-right: 2%;
}

#ebook-preview-embed {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
